.PersonalInfoForm{
    text-align: center;
}
.PersonalInfoForm form input{
    border-radius: 5px;
    border: solid lightblue 2px;
}
.PersonalInfoForm form div p {
    margin: 5px;
}
@media only screen and (max-width: 775px) {
    .PersonalInfoForm form input{
     width: 7em;
    }
  }